.header {
  height: 70px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  display: flex;
  padding: 0px 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #f9d217;
}
.header .left {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.header .left .logo {
  font-size: 3rem;
}
.header .right {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
