.header {
  height: 70px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  display: flex;
  padding: 0px 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #f9d217;
}
.header .left {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header .left .logo {
  font-size: 3rem;
}
.header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 70px;
}
.header .right .mes {
  cursor: pointer;
}
.header .right .avatar {
  cursor: pointer;
}
.header .right .avatar img {
  border-radius: 50%;
}
.header .right .logout {
  cursor: pointer;
}
