.data-outer{
    width: 100%;
    min-width: 960px;
    height: 100%;
    .cardBox{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card:nth-child(1){
            background-position-x: 22.5%;
            background-position-y: 18%;
        }
        .card:nth-child(2){
            background-position-x: 51.5%;
            background-position-y: 18%;
        }
        .card:nth-child(3){
            background-position-x: 80.5%;
            background-position-y: 18%;
        }

        .card{
            width: 320px;
            height: 90%;
            background: url('../../assets/images/card.png') no-repeat;
            background-size: 463%;
            box-shadow: 0px 0px 10px rgba(0,0, 0, 0.2);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title,.count{
                font-size: 1.2rem;
                font-weight: 555;
            }
            .count{
                font-size: 3rem;
                font-weight: 666;
            }
        }
    }
    .mapBox{
        width: 100%;
        height: 75%;
        position: relative;
        &::after{
            width: 200px;
            height: 150px;
            content: "";
            bottom: 0px;
            left: 0px;
            position: absolute;
            z-index: 100;
            background-image: url('../../assets/images/tips.png');
            background-repeat: no-repeat;
        }
    }
}