.detail-outer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 777;
}
.detail-outer .title {
  font-size: 19px;
}
.detail-outer .title .back {
  cursor: pointer;
}
.detail-outer .title .back:hover {
  color: #e5b754;
}
.detail-outer > .title {
  margin-bottom: 20px;
}
.detail-outer .details {
  width: 100%;
}
.detail-outer .details .upMes {
  width: 100%;
}
.detail-outer .details .upMes .content {
  line-height: 45px;
  width: 80%;
  font-size: 16px;
  background-color: aliceblue;
}
.detail-outer .details .upMes .content span {
  font-weight: 599;
  color: #676565;
}
.detail-outer .details .dealMes {
  width: 100%;
}
.detail-outer .details .dealMes .content {
  line-height: 45px;
  width: 80%;
  font-size: 16px;
  background-color: aliceblue;
}
.detail-outer .details .dealMes .content .line {
  display: flex;
  width: 100%;
}
.detail-outer .details .dealMes .content .line .title {
  display: flex;
  font-size: 16px;
  width: 150px;
  justify-content: end;
}
.detail-outer .details .dealMes .content .line4 .title {
  font-size: 16px;
}
.detail-outer .details .mapSite {
  width: 100%;
  height: 400px;
}
