.getback-outer {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/loginB.png');
  background-color: #fabc13;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.getback-outer .loginBox {
  position: absolute;
  top: 52.4%;
  left: 54%;
  transform: translateY(-50%);
  width: 580px;
  height: 470px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getback-outer .loginBox .title {
  line-height: 90px;
  font-weight: 555;
  font-size: 2rem;
  color: #f4cf6a;
  letter-spacing: 5px;
}
.getback-outer .loginBox .mid {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
}
.getback-outer .loginBox .mid .user,
.getback-outer .loginBox .mid .pass {
  font-size: 1rem;
  font-weight: 555;
  padding: 10px 0px;
}
.getback-outer .loginBox .mid .input {
  margin-bottom: 20px;
}
.getback-outer .loginBox .mid .input,
.getback-outer .loginBox .mid .password {
  width: 100%;
  line-height: 45px;
  font-size: 1rem;
}
.getback-outer .loginBox .mid .input input,
.getback-outer .loginBox .mid .password input {
  width: 100%;
  padding-left: 10px;
  color: #1f1f1d;
  font-weight: 500;
  border: 2px solid #c2c1c1;
  border-radius: 10px;
}
.getback-outer .loginBox .mid .password {
  display: flex;
  justify-content: space-between;
}
.getback-outer .loginBox .mid .password button {
  background-color: #f5d75d;
  color: #fff;
  letter-spacing: 3px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  flex-grow: 0;
  cursor: pointer;
}
.getback-outer .loginBox .mid .tips {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
.getback-outer .loginBox .mid .tips .left {
  color: #d81a1a;
  padding-left: 10px;
  font-weight: 500;
}
.getback-outer .loginBox .mid .tips .right {
  color: #716c6c;
}
.getback-outer .loginBox .loginBtn {
  width: 100%;
  height: 40px;
  padding: 20px;
}
.getback-outer .loginBox .loginBtn button {
  width: 100%;
  line-height: 45px;
  border-radius: 5px;
  background-color: #e6ab08;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.getback-outer .loginBox .loginBtn button:active {
  transform: scale(0.99);
}
